@charset "utf-8";
@use "../base/_variable" as v;

.answer-container {
  margin: 24px  0 0;
  
  .title {
    font-weight: bold;
  }

  > .question {
    line-height: 1.5;
    @include v.fz(14);

    .title {
      color: #069321;
    }
  }

  > .answer {
    margin: 8px 0 0;
    line-height: 1.5;
    @include v.fz(14);

    .title {
      color: #d8233d
    }
  }
}