@charset "utf-8";
@use "../base/_variable" as v;

.final-container {
  > .frame-title {
    margin-top: 0;
  }

  > .result {
    font-weight: bold;
    @include v.fz(18);

    background: url("../img/bg_final.svg") no-repeat;
    background-position: top center;
    background-size: 100% 100%;

    .strong {
      line-height: 1;
      color: #d8233d;
      @include v.fz(70);

      animation: fade-in 1s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    }
  }

  > .message {
    margin: 32px 0;
  }

  > .primary-button {
    width: 100%;
    min-height: 52px;
    margin: 24px auto 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}