@charset "utf-8";
@use "../base/_variable" as v;

.list-container {
  > .frame-title {
    margin-top: 10px;
  }

  > .description {
    margin: 24px 0;
    text-align: center;
  }

  .list-item {
    margin: 8px 0 0;
  }
}